html, body {
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat"; }

nav {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-align: center; }

h1 {
  line-height: .8rem; }
  h1 a {
    color: white;
    text-decoration: none; }
  h1 span {
    font-size: .8rem; }

.fa-bars {
  display: block;
  font-size: 2rem;
  cursor: pointer; }
  @media (min-width: 812px) {
    .fa-bars {
      display: none; } }

ul {
  display: none;
  width: 100%;
  height: 75%;
  position: absolute;
  top: 75px;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  user-select: none; }
  @media (min-width: 812px) {
    ul {
      width: inherit;
      height: 100%;
      position: inherit;
      top: 0;
      left: 0;
      background-color: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; } }
  ul li {
    font-size: 1.7rem;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    list-style-type: none;
    border-top: 2px solid grey; }
    @media (min-width: 812px) {
      ul li {
        height: auto;
        width: auto;
        display: block;
        border: 0; } }
    ul li:last-of-type {
      border-bottom: 2px solid grey; }
      @media (min-width: 812px) {
        ul li:last-of-type {
          border: 0; } }

.flex {
  display: flex;
  z-index: 2; }

.wrapper {
  margin: 25px 0;
  position: relative; }
  @media (min-width: 812px) {
    .wrapper {
      margin: 25px 70px; } }
  @media (min-width: 1024px) {
    .wrapper {
      margin: 25px 125px; } }
  @media (min-width: 1400px) {
    .wrapper {
      margin: 25px 175px; } }
  .wrapper:hover .arrows {
    opacity: 1; }

.arrows {
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px;
  z-index: 2;
  cursor: pointer;
  transition: opacity .2s linear; }
  @media (min-width: 550px) {
    .arrows {
      opacity: 0;
      padding: 10px; } }
  .arrows__right {
    right: 0; }

.fa-chevron {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.15); }
  @media (min-width: 550px) {
    .fa-chevron {
      font-size: 2.5rem; } }

.carousel img {
  max-width: 100%; }
