html, body {
  width: 100%;
  height: 100%;
}

.wrapper {
  height: auto;
  position: relative;
  -webkit-perspective: 1500px;
          perspective: 1500px;
}

#mapid {
  height: 350px;
  width: 100%;
  z-index: 1;
}

@media (min-width: 812px) {
  #mapid {
    height: 650px;
  }
}

.overlay {
  width: 75px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.52);
  z-index: 2;
  position: absolute;
  border-right: 1px solid rgba(0, 0, 0, 0.6);
}

@media (min-width: 812px) {
  .overlay {
    width: 150px;
  }
}

.overlay ul {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay li {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  color: white;
  font-size: .6rem;
  font-weight: 500;
  font-family: "Montserrat";
  list-style-type: none;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

@media (min-width: 812px) {
  .overlay li {
    font-size: 1.2rem;
  }
}

.overlay li:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.cities {
  left: 75px;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  opacity: 0;
}

@media (min-width: 812px) {
  .cities {
    left: 150px;
  }
}

.cities ul {
  height: 75%;
}

.cities__india ul {
  height: 100%;
}

.cities li {
  font-size: .45rem;
  letter-spacing: 1.5px;
}

@media (min-width: 812px) {
  .cities li {
    font-size: .85rem;
  }
}

.flip {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  z-index: 3;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat";
}

nav {
  position: absolute;
  height: 75px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  padding: 10px 20px;
  text-align: center;
  -webkit-transition: background-color .3s linear;
  transition: background-color .3s linear;
  z-index: 2;
}

nav:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

h1 {
  line-height: .8rem;
}

h1 a {
  color: white;
  text-decoration: none;
}

h1 span {
  font-size: .8rem;
}

.fa-bars {
  display: block;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

@media (min-width: 812px) {
  .fa-bars {
    display: none;
  }
}

nav ul {
  display: none;
  width: 100%;
  height: 75vh;
  position: absolute;
  top: 75px;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (min-width: 812px) {
  nav ul {
    width: auto;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

nav ul li {
  font-size: 1.7rem;
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
  list-style-type: none;
  border-top: 2px solid grey;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 2.2px;
  text-transform: uppercase;
}

@media (min-width: 812px) {
  nav ul li {
    height: auto;
    width: auto;
    display: block;
    border: 0;
    -webkit-transition: border-bottom .3s linear;
    transition: border-bottom .3s linear;
    border-bottom: 2px solid transparent;
  }
}

@media (min-width: 812px) {
  nav ul li:hover {
    border-bottom: 2px solid white;
  }
}

nav ul li:last-of-type {
  border-bottom: 2px solid grey;
}

@media (min-width: 812px) {
  nav ul li:last-of-type {
    border: 0;
  }
}

nav ul li i {
  font-size: 1.6rem !important;
}

nav ul a {
  text-decoration: none;
  color: white;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.header {
  width: 100%;
  height: auto;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  outline: none;
}

.fa-chevron {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  margin: 0 20px;
  color: rgba(255, 255, 255, 0.15);
  font-size: 2.5rem !important;
  cursor: pointer;
}

.fa-chevron-right {
  right: 0;
}

.fa-chevron:hover {
  color: white;
}

.hero {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}

.hero img {
  display: block;
  max-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}

picture {
  display: block;
}

.container {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media (min-width: 1024px) {
  .container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1400px) {
  .container {
    -ms-grid-rows: (minmax(350px, 1fr))[auto-fill];
        grid-template-rows: repeat(auto-fill, minmax(350px, 1fr));
  }
}

.box {
  min-height: 300px;
  background: none;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-y: hidden;
  color: white;
  font-size: 2.5rem;
  font-weight: semi-bold;
  cursor: pointer;
}

@media (min-width: 1400px) {
  .box {
    min-height: 350px;
  }
}

.box:before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-transform .25s .1s ease-in;
  transition: -webkit-transform .25s .1s ease-in;
  transition: transform .25s .1s ease-in;
  transition: transform .25s .1s ease-in, -webkit-transform .25s .1s ease-in;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0);
}

@media (min-width: 812px) {
  .box:after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    content: "Gallery";
    color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    outline: 1px solid white;
    outline-offset: -10px;
    -webkit-transition: -webkit-transform .25s .1s ease-in;
    transition: -webkit-transform .25s .1s ease-in;
    transition: transform .25s .1s ease-in;
    transition: transform .25s .1s ease-in, -webkit-transform .25s .1s ease-in;
  }
}

@media (min-width: 812px) {
  .box:hover:after {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (min-width: 812px) {
  .box:hover:before {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(-100%) translateZ(0) scale(1, 1);
    transform: translateY(-100%) translateZ(0);
  }
}

@media (min-width: 812px) {
  .myanmar {
    background-image: url("../assets/maps/bagan.jpg");
  }
}

.myanmar:before {
  background-image: url("../assets/tiles/bagan-temple.jpg");
  content: "Myanmar";
}

@media (min-width: 812px) {
  .seoul {
    background-image: url("../assets/maps/seoul.jpg");
  }
}

.seoul:before {
  content: "Seoul";
  background-image: url("../assets/tiles/seoul-namdaemun-gate.jpg");
}

@media (min-width: 812px) {
  .bali {
    background-image: url("../assets/maps/bali.jpg");
  }
}

.bali:before {
  content: "Bali";
  background-image: url("../assets/tiles/bali-legong-dancer.jpg");
}

@media (min-width: 812px) {
  .kaziranga {
    background-image: url("../assets/maps/kaziranga.jpg");
  }
}

.kaziranga:before {
  content: "Kaziranga";
  background-image: url("../assets/tiles/kaziranga-rhino.jpg");
}

@media (min-width: 812px) {
  .bharatpur {
    background-image: url("../assets/maps/bharatpur.jpg");
  }
}

.bharatpur:before {
  content: "Bharatpur";
  background-image: url("../assets/tiles/bharatpur-keoladeo-park.jpg");
}

@media (min-width: 812px) {
  .bundi {
    background-image: url("../assets/maps/bundi.jpg");
  }
}

.bundi:before {
  content: "Bundi";
  background-image: url("../assets/tiles/bundi-blue-city.jpg");
}

@media (min-width: 812px) {
  .pushkar {
    background-image: url("../assets/maps/pushkar.jpg");
  }
}

.pushkar:before {
  background-image: url("../assets/tiles/pushkar-man-beard.jpg");
  content: "Pushkar";
}

@media (min-width: 812px) {
  .varanasi {
    background-image: url("../assets/maps/varanasi.jpg");
  }
}

.varanasi:before {
  content: "Varanasi";
  background-image: url("../assets/tiles/varanasi-morning-aarti.jpg");
}

@media (min-width: 812px) {
  .jaipur {
    background-image: url("../assets/maps/jaipur.jpg");
  }
}

.jaipur:before {
  content: "Jaipur";
  background-image: url("../assets/tiles/jaipur-jal-mahal.jpg");
}

@media (min-width: 812px) {
  .sumatra {
    background-image: url("../assets/maps/sumatra.jpg");
  }
}

.sumatra:before {
  content: "Sumatra";
  background-image: url("../assets/tiles/sumatra-orangutan.jpg");
}

@media (min-width: 812px) {
  .java {
    background-image: url("../assets/maps/java.jpg");
  }
}

.java:before {
  content: "East Java";
  background-image: url("../assets/tiles/bromo-crater.jpg");
}

@media (min-width: 812px) {
  .ranthambore {
    background-image: url("../assets/maps/ranthambore.jpg");
  }
}

.ranthambore:before {
  content: "Ranthambore";
  font-size: 2rem;
  background-image: url("../assets/tiles/ranthambore-india-tiger.jpg");
}

@media (min-width: 812px) {
  .agra {
    background-image: url("../assets/maps/agra.jpg");
  }
}

.agra:before {
  content: "Agra";
  font-size: 2rem;
  background-image: url("../assets/tiles/agra-taj-mahal.jpg");
}

@media (min-width: 812px) {
  .jinhae {
    background-image: url("../assets/maps/jinhae.jpg");
  }
}

.jinhae:before {
  content: "Jinhae";
  background-image: url("../assets/tiles/jinhae-cherry-blossoms.jpg");
}

@media (min-width: 812px) {
  .jodhpur {
    background-image: url("../assets/maps/jodhpur.jpg");
  }
}

.jodhpur:before {
  content: "Jodhpur";
  background-image: url("../assets/tiles/jodhpur-clocktower.jpg");
}

@media (min-width: 812px) {
  .danyang {
    background-image: url("../assets/maps/danyang.jpg");
  }
}

.danyang:before {
  content: "Danyang";
  background-image: url("../assets/tiles/danyang_1500.jpg");
}

@media (min-width: 812px) {
  .seoraksan {
    background-image: url("../assets/maps/seoraksan.jpg");
  }
}

.seoraksan:before {
  content: "Seoraksan";
  background-image: url("../assets/tiles/seoraksan-korea-park.jpg");
}

@media (min-width: 812px) {
  .komodo {
    background-image: url("../assets/maps/komodo.jpg");
  }
}

.komodo:before {
  content: "Komodo";
  background-image: url("../assets/tiles/padar-island.jpg");
}

@media (min-width: 812px) {
  .boseong {
    background-image: url("../assets/maps/boseong.jpg");
  }
}

.boseong:before {
  content: "Boseong";
  background-image: url("../assets/tiles/boseong-green-tea.jpg");
}

@media (min-width: 812px) {
  .amritsar {
    background-image: url("../assets/maps/amritsar.jpg");
  }
}

.amritsar:before {
  content: "Amritsar";
  background-image: url("../assets/tiles/amritsar-golden-temple.jpg");
}

@media (min-width: 812px) {
  .korea {
    background-image: url("../assets/maps/seoul.jpg");
  }
}

.korea:before {
  content: "Korea";
  background-image: url("../assets/tiles/korea-nami-island.jpg");
}
