@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  @include flex(flex-start, center);
  padding: 35px 25px;
}

.half {
  width: 50%;
}

.bio {
  padding: 50px;
  font-size: 1.3rem;
  text-indent: 20px;
}

img {
  max-width: 100%;
}