$wide-mobile-width: 550px; 
$tablet-width: 812px;
$desktop-width: 1024px;
$super-width: 1400px;

$border-curve: 25px;
$grey-color: #3d3d3d;

@mixin wide-mobile {
  @media (min-width: #{$wide-mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin super {
  @media (min-width: #{$super-width}) {
    @content;
  }
}

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
	overflow-y: scroll;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
//  font-family: "Lato";
	font-family: "Montserrat";
}

nav {
	height: 75px;
	@include flex(space-between, center);
	flex-wrap: wrap;
	background-color: #BDBDBD;
	color: white;
	padding: 10px 20px;
	text-align: center;
}

h1 {
	line-height: .8rem;
	
	a {
		color: white; 
		text-decoration: none;
	}
	
	span {
		font-size: .8rem;
	}
}

.fa-bars {
	display: block;
	font-size: 2rem;
	cursor: pointer;
	@include tablet {
		display: none;
	}
}

ul {
	display: none;
	width: 100%;
	height: 75%;
	position: absolute; 
	top: 75px;
	left: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.75);
	user-select: none;
	
	@include tablet {
		width: inherit;
		height: 100%;
		position: inherit;
		top: 0;
		left: 0;
		background-color: transparent;
		@include flex(center, center);
		flex-direction: row;
	}
	
	li {
		font-size: 1.7rem;
		width: 100%;
		height: 50%;
		@include flex(center, center);
		margin: 0 10px;
		list-style-type: none;
		border-top: 2px solid grey;
		cursor: pointer;
		
		font-size: 1.3rem;
		font-weight: 300;
		letter-spacing: 2.2px;
		text-transform: uppercase;
		
		@include tablet {
			height: auto;
			width: auto;
			display: block;
			border: 0;
			transition: border-bottom .3s linear;
			border-bottom: 2px solid transparent;
		}
		
		&:hover {
			@include tablet {
				border-bottom: 2px solid white;
			}
		}
		
		&:last-of-type {
			border-bottom: 2px solid grey;
			@include tablet {
				border: 0;
			}
		}
	}
	
	a {
		text-decoration: none;
		color: white;
	}
	
	i {
		font-size: 1.6rem !important;
	}
}

.flex {
	display: flex;
	z-index: 2;
}

.loader {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translateX(-50%);
}

.aperture {
	@include wide-mobile {
		display: none;
	}
}

.bars {
	display: none;
	@include wide-mobile {
		@include flex(center, center);
	}
}

.bar {
	width: 12px;
	height: 105px;
	margin: 0 1.5px;
	background-color: #212121;
	transform: scaleY(0.57);
	animation-name: loading;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.bar__one {animation-delay: .25s;}
.bar__two {animation-delay: .37s}
.bar__three {animation-delay: .49s}
.bar__four {animation-delay: .61s}
.bar__five {animation-delay: .73s}

@keyframes loading {
	0% {transform: scaleY(0.57);}
	10%{transform: scaleY(1.0);}
	20%{transform: scaleY(0.57);}
	100%{transform: scaleY(0.57);}
}


.wrapper {
	display: none;
	margin: 50px 10px 10px 10px;
	position: relative;
	@include tablet {
		margin: 75px 70px 10px 70px;
	}
	@include desktop {
		margin: 75px 125px 10px 125px;
	}
	@include super {
		margin: 75px 175px 10px 175px;
	}
	&:hover .arrows {
		opacity: 1;
	}
}

.arrows {
	opacity: 1;
	position: absolute; 
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0,0,0, 0.5);
	padding: 4px;
	z-index: 2;
	cursor: pointer;
	transition: opacity .2s linear;
	@include wide-mobile {
		opacity: 0;
		padding: 10px;
	}
	&__right {
		right: 0;
	}
}

.arrowChange {
	display: none;
}

.fa-chevron {
	font-size: 1.5rem;
	color: rgba(255,255,255, 0.15);
	@include wide-mobile {
		font-size: 2.5rem;
	}
	
	&:hover {
		color: white;
	}
}

.carousel {
	img {
		max-width: 100%;
	}
}

.carousel-nav {
	margin-bottom: 50px;
	display: none;
	cursor: pointer;
	@include wide-mobile {
		margin: 0 10px 65px 10px;
	}
	@include desktop {
		margin: 0 125px 65px 125px;
	}
	@include super {
		margin: 0 175px 65px 175px;
	}
	
	.slick-slide {
		opacity: .6;
	}

	.slick-center {
		opacity: 1;
	}
}
