$wide-mobile-width: 550px; 
$tablet-width: 812px;
$desktop-width: 1024px;
$super-width: 1400px;

$border-curve: 25px;

@mixin wide-mobile {
  @media (min-width: #{$wide-mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin super {
  @media (min-width: #{$super-width}) {
    @content;
  }
}

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

html, body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: auto;
  position: relative;
	perspective: 1500px;
}

#mapid {
	height: 350px;
	width: 100%;
	z-index: 1;
	@include tablet {
		height: 650px;
	}
}

.overlay {
  width: 75px;
  height: 100%;
  background-color: rgba(0,0,0, .52);
  z-index: 2;
  position: absolute;
  border-right: 1px solid rgba(0,0,0, 0.6);
	@include tablet {
		width: 150px;
	}
  //right: 0;
  
  ul {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  li {
    width: 100%;
    height: 100%;
    @include flex(center, center);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    color: white;
    font-size: .6rem;
    font-weight: 500;
    font-family: "Montserrat";
    list-style-type: none;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0, 0.6);
		@include tablet {
			font-size: 1.2rem;
		}
    
    &:hover {
      background-color: rgba(0,0,0, 0.6);
    }
  }  
}

.cities {
  left: 75px;
  transition: all .5s linear;
  transform-style: preserve-3d;
  transform: rotateY(90deg);
	transform-origin: left;
  opacity: 0;
	@include tablet {
		left: 150px;
	}
  
  ul {
    height: 75%;
  }
	
	&__india ul {
		height: 100%;
	}
	
  li {
    font-size: .45rem;
		letter-spacing: 1.5px;
		@include tablet {
			font-size: .85rem;
		}
  }
}

.flip {
  opacity: 1;
  transform: rotateY(0deg);
	z-index: 3;
}

