$wide-mobile-width: 550px; 
$tablet-width: 812px;
$desktop-width: 1024px;
$super-width: 1400px;

$border-curve: 25px;

@mixin wide-mobile {
  @media (min-width: #{$wide-mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin super {
  @media (min-width: #{$super-width}) {
    @content;
  }
}

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

html, body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

nav {
	position: absolute;
	height: 75px;
	width: 100%;
	@include flex(space-between, center);
	flex-wrap: wrap;
	//background-color: transparent;
	color: white;
	padding: 10px 20px;
	text-align: center;
	transition: background-color .3s linear;
	z-index: 2;
//	font-family: "Lato";
	&:hover {
		background-color: rgba(0,0,0, .3);
	}
	
}

h1 {
	line-height: .8rem;
	
	a {
		color: white; 
		text-decoration: none;
	}
	
	span {
		font-size: .8rem;
	}
}

.fa-bars {
	display: block;
	font-size: 2rem;
	cursor: pointer;
	@include tablet {
		display: none;
	}
}

nav ul {
	display: none;
	width: 100%;
	height: 75vh;
	position: absolute; 
	top: 75px;
	left: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.75);
	user-select: none;
	
	@include tablet {
		width: auto;
		height: 100%;
		position: relative;
		top: 0;
		left: 0;
		background-color: transparent;
		@include flex(center, center);
		flex-direction: row;
	}
	
	li {
		font-size: 1.7rem;
		width: 100%;
		height: 50%;
		@include flex(center, center);
		margin: 0 10px;
		list-style-type: none;
		border-top: 2px solid grey;
		
		font-size: 1.4rem;
		font-weight: 300;
		letter-spacing: 2.2px;
		text-transform: uppercase;
		
		
		@include tablet {
			height: auto;
			width: auto;
			display: block;
			border: 0;
			transition: border-bottom .3s linear;
			border-bottom: 2px solid transparent;
		}
		
		&:hover {
			@include tablet {
				border-bottom: 2px solid white;
			}
		}
		
		&:last-of-type {
			border-bottom: 2px solid grey;
			@include tablet {
				border: 0;
			}
		}
		
		i {
			font-size: 1.6rem !important;
		}
		
	}
	
	a {
		text-decoration: none;
		color: white;
	}
}

.flex {
	display: flex;
	z-index: 2;
}

.header {
  width: 100%;
  height: auto;
  position: relative;
	-webkit-user-select: none;
	user-select: none;
	outline: none;
}

.fa-chevron {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	margin: 0 20px;
	color: rgba(255,255,255, 0.15);
	font-size: 2.5rem !important;
	cursor: pointer;
	
	&-right {
		right: 0;
	}
	
	&:hover {
		color: white;
	}
}

.hero {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
	user-select: none;
	outline: none;
	
  
  img {
    display: block;
    max-width: 100%;
		user-select: none;
		outline: none;
  }
}

picture {
  display: block;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	@include desktop {
		grid-template-columns: repeat(4, 1fr);
	}
	@include super {
		grid-template-rows: repeat(auto-fill, minmax(350px, 1fr));
	}
}


.box{
  min-height: 300px;
	background: none;
  background-size: cover;
	background-position: center;
  position: relative;
  overflow-y: hidden;
	color: white;
  font-size: 2.5rem;
  font-weight: semi-bold;
	cursor: pointer;
	@include super {
		min-height: 350px;
	}
  
  &:before {
    @include flex(center, center);
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    background-size: cover;
    background-position: center;
    transition: transform .25s .1s ease-in;
		-webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);
  }
  
  &:after {
		@include tablet {
			@include flex(center, center);
			content: "Gallery";
			color: white;
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			transform: translateY(100%);
			outline: 1px solid white;
			outline-offset: -10px;
			transition: transform .25s .1s ease-in;
		}
  }
  
  &:hover:after {
		@include tablet {
			transform: translateY(0);	
		}
  }
  
  &:hover:before {
		@include tablet {
			transform: translateY(-100%);
			-webkit-backface-visibility: hidden;
			-webkit-transform: translateY(-100%) translateZ(0) scale(1.0, 1.0);
			transform: translateY(-100%) translateZ(0);
		}
  }
}

.myanmar {
	@include tablet {
		background-image: url("../assets/maps/bagan.jpg");
	}
	&:before {
	background-image: url("../assets/tiles/bagan_night.jpg");
	content: "Myanmar";
	}
}

.seoul {
	@include tablet {
		background-image: url("../assets/maps/seoul.jpg");
	}
	&:before {
		content: "Seoul";
		background-image: url("../assets/tiles/seoul_namdaemun-med.jpg");
	}
}

.bali {
	@include tablet {
		background-image: url("../assets/maps/bali.jpg");
	}
	&:before {
		content: "Bali";	
		background-image: url("../assets/tiles/ubud_legong-med.jpg");
	}
}

.kaziranga {
	@include tablet {
		background-image: url("../assets/maps/kaziranga.jpg");
	}
	&:before {
		content: "Kaziranga";
		background-image: url("../assets/tiles/kaziranga-rhino.jpg");
	}
}

.bharatpur {
	@include tablet {
		background-image: url("../assets/maps/bharatpur.jpg");
	}
	&:before {
		content: "Bharatpur";
		background-image: url("../assets/tiles/bharatpur_keoladeo-med.jpg");
	}
}

.bundi {
	@include tablet {
		background-image: url("../assets/maps/bundi.jpg");
	}
	&:before {
		content: "Bundi";
		background-image: url("../assets/tiles/bundi_city-med.jpg");
	}
}

.pushkar {
	@include tablet {
		background-image: url("../assets/maps/pushkar.jpg");
	}
	&:before {
		background-image: url("../assets/tiles/pushkar_man-med.jpg");
		content: "Pushkar";
	}
}

.varanasi {
	@include tablet {
		background-image: url("../assets/maps/varanasi.jpg");
	}
	&:before {
		content: "Varanasi";
		background-image: url("../assets/tiles/varanasi_morning_aarti.jpg");
	}
}

.jaipur {
	@include tablet {
		background-image: url("../assets/maps/jaipur.jpg");
	}
	&:before {
		content: "Jaipur";
		background-image: url("../assets/tiles/jaipur_jalMahal-med.jpg");
	}
}

.sumatra {
	@include tablet {
		background-image: url("../assets/maps/sumatra.jpg");
	}
	&:before {
		content: "Sumatra";
		background-image: url("../assets/tiles/sumatra_orangutan-med.jpg");
	}
}

.java {
	@include tablet {
		background-image: url("../assets/maps/java.jpg");
	}
	&:before {
		content: "East Java";
		background-image: url("../assets/tiles/bromo-med.jpg");
	}
}
.ranthambore {
	@include tablet {
		background-image: url("../assets/maps/ranthambore.jpg");
	}
	&:before {
		content: "Ranthambore";
		font-size: 2rem;
		background-image: url("../assets/tiles/ranthambore_tiger-med.jpg");
	}
}

.agra {
	@include tablet {
		background-image: url("../assets/maps/agra.jpg");
	}
	&:before {
		content: "Agra";
		font-size: 2rem;
		background-image: url("../assets/tiles/taj_mahal-med.jpg");
	}
}

.jinhae {
	@include tablet {
		background-image: url("../assets/maps/jinhae.jpg");
	}
	&:before {
		content: "Jinhae";
		background-image: url("../assets/tiles/jinhae_cherryBlossoms-med.jpg");
	}
}

.jodhpur {
	@include tablet {
		background-image: url("../assets/maps/jodhpur.jpg");
	}
	&:before {
		content: "Jodhpur";
		background-image: url("../assets/tiles/jodhpur_clocktower-med.jpg");
	}
}

.danyang { 
	@include tablet {
		background-image: url("../assets/maps/danyang.jpg");
	}
	&:before {
		content: "Danyang";
		background-image: url("../assets/tiles/danyang_1500.jpg");
		
	}
}
.seoraksan {
	@include tablet {
		background-image: url("../assets/maps/seoraksan.jpg");
	}
	&:before {
		content: "Seoraksan";
		background-image: url("../assets/tiles/seoraksan-med.jpg");
	}
}

.komodo {
	@include tablet {
		background-image: url("../assets/maps/komodo.jpg");
	}
	&:before {
		content: "Komodo";
		background-image: url("../assets/tiles/padar_island-med.jpg");
	}
}

.boseong {
	@include tablet {
		background-image: url("../assets/maps/boseong.jpg");
	}
	&:before {
		content: "Boseong";
		background-image: url("../assets/tiles/boseong_greenTeaFields-med.jpg");
	}
}

.amritsar {
	@include tablet {
		background-image: url("../assets/maps/amritsar.jpg");
	}
	&:before {
		content: "Amritsar";
		background-image: url("../assets/tiles/amritsar_golden_temple.jpg");
	}
}

.korea {
	@include tablet {
		background-image: url("../assets/maps/seoul.jpg");
	}
	&:before {
		content: "Korea";
		background-image: url("../assets/tiles/korea_nami_island-med.jpg");
	}
}


